@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  -webkit-user-select: text;
  user-select: text;
}

a {
  pointer-events: auto;
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  
  body {
    background: white !important;
  }
  
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
